-#   Copyright (c) 2010, Diaspora Inc.  This file is
-#   licensed under the Affero General Public License version 3 or later.  See
-#   the COPYRIGHT file.

%li.message{:data=>{:guid=>post.id}}
  - if person.owner_id == current_user.id
    .right.controls
      - reshare_aspects = aspects_without_post(aspects, post)
      - unless reshare_aspects.empty?
        = render 'shared/reshare', :aspects => reshare_aspects, :post => post
      = link_to t('delete'), status_message_path(post), :confirm => t('are_you_sure'), :method => :delete, :remote => true, :class => "delete"

  = person_image_link(person, :size => :thumb_small)

  .content
    .from
      %h4
        =person_link(person)

      - if post.public?
        %span.arrow ➔
        %span.aspect_badge.public
          = t('the_world')

        / by star, change the conditions that all the user in aspect can see
        / - elsif person.owner_id == current_user.id
      - else
        %span.arrow ➔
        = aspect_badge(aspects_with_post(aspects, post))


    = render 'status_messages/status_message', :post => post, :photos => photos

    .info
      %span.time= link_to(how_long_ago(post), status_message_path(post))
      = comment_toggle(comments.length, @commenting_disabled)


      -################## by star ##############################
      %img{:src => "/images/icons/like.png"}
      - unless post.like_users.include?current_user
        %a{:class => "like_this", :data => post.id, :type => "like"}
          = "Like"
        %a{:class => "cancel_like hidden", :data => post.id, :type => "cancel"}
          = "Cancel"
      - else
        %a{:class => "like_this hidden", :data => post.id, :type => "like"}
          = "Like"
        %a{:class => "cancel_like", :data => post.id, :type => "cancel"}
          = "Cancel"

    %div{:class => "like-people"}
      %span.people_count
        - if post.like_users.count > 0
          %img{:src => "/images/icons/like.png"}
          - if post.like_users.include?(current_user)
            - if post.like_users.count == 1
              = "I like this post"
            - else
              %a.list
                = "I and " + (post.like_users.count-1).to_s + "people like this post"
          - else
            %a.list
              = post.like_users.count.to_s + "people like this post"
      %div.people_list.hidden
        - for user in post.like_users
          - if user.name != current_user.name
            = person_link(user.person)
      -################## end ##############################

    = render "comments/comments", :post_id => post.id, :comment_hashes => comments, :condensed => true, :commenting_disabled => defined?(@commenting_disabled)
