- for event in @events
  %div{:id => event.id}
    %img{:src => "/images/event.jpg"}
    %b
      = event.content
    %span.arrow â”
    = event_aspect_badge(event.aspect)

    %br
    = "by " + event.user.name
    = event.created_at.strftime('%m/%d/%Y')
    %br
    = render 'shared/event', :event => event
= will_paginate @events
