%div{:id => @event.id}
  %h2
    = @event.content
    %span.arrow ➔
    = event_aspect_badge(@event.aspect)
  = "by " + @event.user.name
  = @event.created_at.strftime('%m/%d/%Y')
  %br
  = render 'shared/event', :event => @event

%div
  = "The following person select Yes:"
  %br
  - for user in @event.yes_users
    %b
      = user.name
  %br

  = "The following person select No:"
  %br
  - for user in @event.no_users
    %b
      = user.name
  %br

  = "The following person select Maybe:"
  %br
  - for user in @event.maybe_users
    = user.name