-#   Copyright (c) 2010, Diaspora Inc.  This file is
-#   licensed under the Affero General Public License version 3 or later.  See
-#   the COPYRIGHT file.

- if @request_count > 0
  #new_request_pane{:class => "everyone"}
    %h1.new_request{:style => 'text-align:center'}
      = new_request_link(@request_count)

-# by star, list all the current user's requests
%ul
  - @contacts = Contact.all(:person_id => current_user.person.id, :pending => true) if current_user
  - for contact in @contacts
    %li
      - aspect = contact.aspects.first
      = contact.user.name + " invite you to join " + aspect.name + " aspect"
      %br
      %a{:class => "accept_invite", :aspect_id => aspect.id, :aspect_name => aspect.name, :contact_id => contact.id, :type => "yes"}
        = "Accept "
      = " | "
      %a{:class => "ignore_invite", :contact_id => contact.id, :type => "no"}
        = "Ignore"


#left_pane.everyone

  .section.aspect_listings
    %h3
      = link_to(t('.aspects'), aspects_manage_path)
      .right{:style=>"font-size:12px;top:7px;"}
        = link_to t('.add_aspect'), '#add_aspect_pane', :class => "add_aspect_button"

    %ul
      - for a_hash in @aspect_hashes
        = render :partial => 'aspects/aspect', :locals => a_hash

  .section.contact_pictures
    %h3
      .right.description{:style => "top:-4px"}
        -# notes the count of the contact in index page
        -#= @contact_hashes.count

      -# by star, change from 'all contacts' to 'find contact'
      -#= t('.all_contacts')
      = "Find contacts"

    -# delete all contacts
    -#- for contact in @contact_hashes
      -#= person_image_link(contact[:person])

    -#- if @contacts.count == 0
    %h4
      -# change the display of 'no contacts'
      -#= t('.no_contacts')
      = "Find your contacts here. "
    = form_tag(people_path, :method => 'get') do
      = text_field_tag 'q', nil, :placeholder => t('search'), :type => 'search', :results => 5

  .section
    %h3= t('shared.invitations.invites')
    = render "shared/invitations", :invites => @invites

